/* ----- STYLE STYLE STYLE ----- */


body {
    margin: 30px 100px;
    /*background-color: rgb(250,250,250);*/
    font-family: sans-serif;
    height: 50%;
  	background-color: rgb(250,250,250); /* For browsers that do not support gradients */
  	/*background-image: linear-gradient(rgb(250,250,250), white);*/
  	background-image: linear-gradient(to bottom right, rgb(250,250,250), white);
}


hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

hr.short {
    width:20%;
    margin:0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 30px;
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}


/* ----- HEADER HEADER HEADER ----- */

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(250,250,250);
}


/* ----- PAGE TITLE ----- */
/* ive used a <li> list class to style the page title instead of <p> etc */
/* perhaps this was so I could use one class to style the links and another
to have the 'active status' on the link itself */

li.pageTitle {
    display: inline-block;
    color: rgb(100,100,100);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    float: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255,165,0);
    cursor:default;
}

li.pageMenu {
    display: inline-block;
    color: rgb(100,100,100);
    text-align: center;
    text-decoration: none; /* no underline on links */
    float: right;
    cursor: default;
}





/* ----- LINKS ----- */
a.pageMenu { /* I don't know why I have to use 'li a' and cant use 'li.link' */
    display: inline-block;
    color: rgb(100,100,100);
    text-align: center;
    padding: 14px;
    text-decoration: none; /* no underline on links */
    float: right;
}

a.pageMenu:hover {
    background-color: rgb(245,245,245);
    color: black;
}

a.pageMenu-active { /* I don't know why I have to use 'li a' and cant use 'li.link' */
    display: inline-block;
    color: rgb(100,100,100);
    text-align: center;
    padding: 14px;
    text-decoration: none; /* no underline on links */
    float: right;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: red;
}

a {
    color: rgb(100,100,100);
}

a:hover {
    color: rgb(0,0,0);
}

a.active {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: red;
}








/* ----- CONTENT CONTENT CONTENT ----- */

div.content {
    padding-top: 25px;
    overflow: auto;
}

img.work {
    float: left;
    padding-right: 30px;
    padding-left: 16px;
    width: 60%;
}

video.work {
    float: left;
    padding-right: 30px;
    padding-left: 16px;
    width: 60%;
}

iframe.work {
    float: left;
    padding-right: 30px;
    padding-left: 16px;
    width: 60%;
}


h2.workTitle {
    font-size: 1.0em;
    color: rgb(100,100,100);
    font-weight: bold;
}

h3.subTitle {
    font-size: 0.8em;
    color: rgb(100,100,100);
    font-weight: bold;
}

audio {
    background-color: white;
}

p.workInfo {
    display: inline;
    font-size: 0.8em;
    color: rgb(100,100,100);
}

p.workBlurb {
        font-size: 0.8em;
        font-family: sans-serif;
        color: rgb(100,100,100);
}

p.workList {
    display: inline;
    font-size: 0.8em;
}

a.workLink {
    font-size: 0.8em;
    padding: 0px;
    text-decoration: none;
    color: rgb(100,100,100);
}

a.workLink:hover {
    color: rgb(0,0,0);
    background-color: rgb(245,245,245);

}

a.workLink:active {
    border-bottom-style: solid;
    border-bottom-color: rgb(0,180,230);
    border-bottom-width: 1px;
}







/* ----- FOOTER FOOTER FOOTER ----- */

p.footerBar {
    border-top-style: solid;
    border-top-color: rgb(255,165,0);
    border-top-width: 1px;
}

/* style for the button itself */
p.footerButton {
    background: rgb(250,250,250);
    border-top-style: solid;
    border-top-color: rgb(255,165,0);
    border-top-width: 1px;
    color: rgb(150,150,150);
    text-align:center;
    padding: 10px;
}

p.footerButton:hover {
    background: rgb(245,245,245);
    cursor: pointer;
}

/* general class for showing/hiding the button */
.buttonHide {
    display: span;
}

/* general class for showing/hiding everything below the button */
.footNotes {
    display: none;
}

/* like the body{} tag - but for everything below the line */
div.footerContent {
    background-color: rgb(245,245,245);
    padding: 20px;
    padding-top: 10px;
    font-size: 0.9em;
}
